<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petrosidakatalog">


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_psg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_psg"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetrosidaKatalog">
        <activity
            android:name=".kategori.BioActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.BenihActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.PupukActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.RodentisidaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.FungisidaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.AkarisidaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.InsektisidaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".kategori.HerbisidaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true" />
        <activity
            android:name=".kategori.AllProdukActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfilPerusahaanActivity"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Store"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Favorite"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailProdukActivity"
            android:label="Detail Produk"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>